# Python
*.py[cod]
__pycache__/
*.so

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
db.sqlite3.backup*

# 环境变量文件
.env

# 虚拟环境
venv/
env/
ENV/
Old_version
PLAN-00*
vue-vben-admin
node_modules/
tests/
backups/
*_env/

# IDE 相关
.idea/
.vscode/
*.swp
*.swo

# 操作系统生成的文件
.DS_Store
Thumbs.db

# 日志文件
logs/*.log

# 静态文件收集目录
/static/

# 媒体文件
/media/

# 临时文件
*.tmp
*.bak
*.swp
*.bak.py
dist.zip

# Celery
celerybeat-schedule.*
celerybeat.pid

# 测试覆盖率报告
.coverage
htmlcov/

# 翻译文件
*.mo
*.pot

# 其他
*.pyc
*.pyo
*.orig

