SECRET_KEY=django-insecure-xxxxxx
SERVER_MODE=testing
SITE_ID=1
PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=xxxxxx
PAYPAL_CLIENT_SECRET=xxxxxx
PAYPAL_WEBHOOK_ID=xxxxxx
MINIMAX_GROUP_ID=xxxxxx
MINIMAX_API_KEY=xxxxxx
EMAIL_HOST=smtp.163.com
EMAIL_PORT=465
EMAIL_USE_TLS=True
EMAIL_HOST_USER=xxx@163.com
EMAIL_HOST_PASSWORD=xxxxxx
BCC_EMAIL=xxx@yyy.com
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
